<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
    <title>Wish</title>
</head>
<body>
<div th:replace="fragments/navbar"></div>

<section>
    <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 col-6">Name</th>
                    <th class="text-secondary opacity-7"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="card">
                    <form method="POST"
                          name="wishform" role="form"
                          th:action="@{/wishlist/{wishlist_id}/save/{wish_id} (wishlist_id = ${wishlist_id}, wish_id = ${wish.getID()})}">
                        <td>
                            <div class="input-group">
                                <input class="form-control form-controle-wish" name="name" th:value="${wish.name}"
                                       type="text">
                            </div>
                            <div class="input-group input-group-wish">
                                <input class="form-control" name="link" th:value="${wish.link}"
                                       type="text">
                            </div>
                            <div class="input-group">
                                <input class="form-control" name="price" th:value="${wish.price}"
                                       type="text">
                            </div>
                        </td>
                        <td>
                            <div class="text-end">
                                <button class="btn bg-gradient-primary mb-0" type="submit" value="submit">
                                    <i aria-hidden="true" class="fas fa-plus"></i>&nbsp;&nbsp;Save
                                </button>
                            </div>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<div th:replace="fragments/footer"></div>
</body>
</html>
