<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <di th:replace="fragments/head"></di>
    <title>Wish</title>
</head>
<body>
<div th:replace="fragments/navbar"></div>

<section>
    <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 col-6">Name</th>
                    <th class="text-secondary opacity-7"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="card">
                    <form th:action="@{/wishlist/{wishlist_id}/save/{wish_id} (wishlist_id = ${wishlist_id}, wish_id = ${wish.getID()})}" method="POST" name="wishform" role="form">
                        <td>
                            <div class="input-group">
                                <input type="text" name="name" class="form-control form-controle-wish"
                                       th:value="${wish.name}" >
                            </div>

                            <div class="input-group input-group-wish">
                                <input type="text" name="link" class="form-control"
                                       th:value="${wish.link}">
                            </div>

                            <div class="input-group">
                                <input type="text" name="price" class="form-control"
                                       th:value="${wish.price}">
                            </div>

                        </td>

                        <td>
                            <div class="text-end">
                                <button class="btn bg-gradient-primary mb-0" type="submit" value="submit">
                                    <i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Save
                                </button>
                            </div>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


<div th:replace="fragments/footer"></div>
</body>
</html>